.experience {
    display: flex;
    flex-direction: column;
}

.experience__section__title {
    font-family: Raleway;
    font-size: 32px;
    font-weight: 700;
    line-height: 38px;
    letter-spacing: 0em;
    text-align: center;
}

.experiencie__box {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 16px;
    padding: 7%;
}

.experience__box__encriptador {
    /*box del anteultimo encriptador*/
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 16px;
    padding: 7%;
}

.box-ahorcado {
    /*box ultimo ahorcado*/
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: row-reverse;
    gap: 16px;
    padding: 7%;
}

.experience__section__title {
    font-family: Raleway;
    font-size: 32px;
    font-weight: 700;
    line-height: 38px;
    letter-spacing: 0em;
    text-align: center;
}

.experience__title {
    font-family: Raleway;
    font-size: 22px;
    font-weight: 700;
    line-height: 26px;
    letter-spacing: 0em;
    text-align: left;
}

.experience__text {
    font-family: Raleway;
    font-size: 16px;
    font-weight: 500;
    line-height: 19px;
    letter-spacing: 0em;
    text-align: left;
}

.experiencia__botao--repo {
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 16px;
    gap: 10px;
    width: 116px;
    height: 51px;
    border: 1px solid #2A7AE4;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 400;
    line-height: 19px;
    color: #2A7AE4;
}

.experience__repo a,
.experience__demo a {
    text-decoration: none;
}

.experience__botao--demo {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 16px;
    gap: 10px;
    width: 105px;
    height: 51px;
    background: #2A7AE4;
    color: #FFFFFF;
}

.experience__description {
    display: flex;
    gap: 15px;
}





@media (max-width: 768px) {
    .experience {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 0px;
        gap: 16px;
    }

    .experience__section__title {
        font-family: 'Raleway';
        font-style: normal;
        font-weight: 700;
        font-size: 22px;
        line-height: 26px;
        text-align: center;
    }

    .experiencie__box {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: start;
    }

    .experience__img {

        height: 320px;

    }

    .experience__info {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        padding: 0px;
        gap: 8px;

    }

    .experience__title {
        font-family: 'Raleway';
        font-style: normal;
        font-weight: 700;
        font-size: 16px;
        line-height: 19px;
    }

    .experience__text {
        font-family: 'Raleway';
        font-style: normal;
        font-weight: 500;
        font-size: 14px;
        line-height: 16px;
    }

    .experiencia__botao--repo {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        padding: 12px 16px;
        gap: 10px;
        width: 108px;
        height: 40px;
    }

    .experience__botao--demo {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        padding: 12px 16px;
        gap: 10px;
        width: 108px;
        height: 40px;
    }

    .experience__box__encriptador {
        /*box del anteultimo encriptador*/
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: start;
    }

    .box-ahorcado {
        /*box ultimo ahorcado*/
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: start;
    }


}

@media (max-width: 425px) {
    .experience {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .experience__section__title {
        font-family: 'Raleway';
        font-style: normal;
        font-weight: 700;
        font-size: 22px;
        line-height: 26px;
        text-align: center;
        color: #464646;
    }

    .experiencie__box {
        display: flex;
        flex-direction: column;

        padding: 0px;
    }

    .experience__img {
        width: 296px;
        height: 144px;
    }

    .experience__title {
        color: #464646;
        font-family: 'Raleway';
        font-style: normal;
        font-weight: 700;
        font-size: 16px;
        line-height: 19px;

    }

    .experience__text {
        color: #464646;
        font-family: 'Raleway';
        font-style: normal;
        font-weight: 500;
        font-size: 14px;
        line-height: 16px;
    }

}