:root {
    --cor-de-fundo: #F5F5F5;
    --cor-de-link: #000;
}

body {
    box-sizing: border-box;
    background-color: var(--cor-de-fundo);
    font-family: 'Raleway';
    margin: auto;
    padding: 0;
    line-height: 1;
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-flow: row wrap;
    justify-content: center;
}


.tudo {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    justify-content: center;
    background-color: #F5F5F5;
}





@media (max-width: 768px) {  /*A partir de*/
    .tudo {
     margin: 0px;
     padding: 0px;
 
    }
}












:root {
    --cor-de-fundo: #F5F5F5;
    --cor-de-link: #000;
}




/*
tablet
@media (min-width: 768px) {

     Menú 

    /*title*/

/*Skills*/

/*Hobbies*/

/*Formación Académica

    /*Experiencia Profesional

}
Mobile
@media (min-width: 425px) {

    /*Menu*/

/*Titulo*/

/*Sección sobre mi*/

/*Skills*/

/*Hobbies*/

/*Formación Académica*/

/*Experiencia Profesional*/

/*Contacto*/

/*Footer*/