/*CSS Reset / Normalize*/
/* Hemos disponibilizado el básico de reset de estilos. Si quieren, añadan más informaciones 
en las secciones señaladas */
/*Já deixaremos o básico de reset de estilos. Caso queira adicionar mais informações
coloque nas sessões indicadas*/

:root {
    /* Inserta la variable de los otros colores inspeccionando el exemplo de figma */
    /*Se esforce para trabalhar com variáveis, é uma dica profissional valiosa*/
    --cor-de-fundo: #F5F5F5;
    --cor-de-link: #000;
}

body {
    box-sizing: border-box;
    background-color: var(--cor-de-fundo);
    font-family: 'Raleway';
    margin: auto;
    padding: 0;
    line-height: 1;
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-flow: row wrap;
    justify-content: center;
}


.tudo {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    justify-content: center;
    background-color: #F5F5F5;
}

.menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 85%;
}

.menu__header {
    display: flex;
    align-items: center;
}

.menu__header,
.menu__title {
    padding: 7px;
    font-family: Raleway;
    font-size: 16px;
    font-weight: 700;
    line-height: 19px;
    letter-spacing: 0em;
    text-align: left;
}

.logo {
    Width: 16px;
    Height: 16px;
    Top: 4px;
    Left: 1px;
}

.menu__list {
    display: flex;

}

.menu__list ol,
.menu__list ul,
.menu__list li {
    list-style: none;
    display: flex;
    padding: 0;
}

.menu__list a {
    list-style: none;
    text-decoration: none;
    color: var(--cor-de-link);
    margin: 0 0 0 19px;
}

/*Sección del Header/Title/Hero*/

.title {
    width: 85%;
    justify-content: center;
    display: flex;
    margin-top: 2%;
}

.title__div {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    margin-bottom: 32px;
}

.title__container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-right: 17px;
}

.title__bio {
    font-family: Raleway;
    font-size: 52px;
    font-weight: 700;
    line-height: 61px;
    letter-spacing: 0em;
    text-align: left;
    margin: 0 0 24px 0;
}

.title__subsection {
    font-family: Raleway;
    line-height: 26px;
    font-weight: 100;
    margin: 0 0 26px 0;

}

.title__network {
    display: flex;
    padding: 0;
}

.title__network ul {
    display: flex;
    padding: 0;
}

.title__network li {
    margin-right: 32px;
    list-style: none;
}

.title__network a {
    list-style: none;
    text-decoration: none;
    color: var(--cor-de-link);
}

/*SOBRE MI*/

.about {
    display: flex;
    background-color: rgb(234 242 253);
    justify-content: center;
}

.about__container {
    display: flex;
    flex-direction: column;
    align-items: baseline;
    width: 85%;
    padding-bottom: 64px;
    padding-top: 64px;
}

.about__title {
    margin: 0 0 16px 0;
    font-family: Raleway;
    font-size: 32px;
    font-weight: 700;
    line-height: 38px;
    letter-spacing: 0em;
    text-align: left;
}

.about__container .about__paragraph {
    display: flex;
    width: 65%;
    flex-flow: column;
    margin-top: 0px;
    font-family: Raleway;
    font-size: 16px;
    font-weight: 400;
    line-height: 19px;
    letter-spacing: 0em;
    text-align: left;
    color: #464646;
}

/*SKILS*/
.skills,
.hobbies {
    display: flex;
    flex-direction: column;
    width: 85%;
}

.skills__title,
.hobbies__title {
    font-family: Raleway;
    font-size: 32px;
    font-weight: 700;
    line-height: 64px;
    text-align: center;
    padding: 2%;
}

.skills__line,
.hobbies__line {
    display: flex;
    justify-content: space-between;
}

.skills__box ul,
.hobbies__box ul {
    list-style: none;
    padding: 0px;
    margin: 0px;
}

.skills__box ul li,
.hobbies__box ul li {
    padding-bottom: 8px;
}

.skills__box,
.hobbies__box {
    background-color: white;
    width: 176px;
    height: 174px;
    height: 174px;
    width: 176px;
    left: 384px;
    top: 0px;
    border-radius: 0px;
    padding: 16px;
    margin-right: 32px;
    display: flex;
    justify-content: flex-start;
    align-items: end;
}


.academic {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 1317px;
    height: 581px;
    padding: 16px;
    gap: 32px;
    margin-top: 82px;
    background-color: #EAF2FD;

}

:root {
    --cor-de-fundo: #F5F5F5;
    --cor-de-link: #000;
}

.academic__title {
    padding: 32px;
}

.academic__courses {
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.academic__courses__box {
    display: flex;
    align-items: center;
    width: 368px;
    border-radius: 0px;
    background-color: #EAF2FD;
}


.academic__courses__list {
    display: flex;
    flex-direction: column;
    align-items: center;
    list-style: none;
    height: 286px;
    width: 320px;
    padding: 16px;
    background-color: white;
}

.academic__courses__item__img {
    height: 130px;
    width: 192px;
    left: 88px;
    top: 78px;
    border-radius: 0px;
}

.experience {
    display: flex;
    flex-direction: column;
}

.experience__section__title {
    font-family: Raleway;
    font-size: 32px;
    font-weight: 700;
    line-height: 38px;
    letter-spacing: 0em;
    text-align: center;
}

.experiencie__box {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 16px;
    margin-left: 100px;
}

.experience__title {
    font-family: Raleway;
    font-size: 22px;
    font-weight: 700;
    line-height: 26px;
    letter-spacing: 0em;
    text-align: left;
}

.experience__text {
    font-family: Raleway;
    font-size: 16px;
    font-weight: 500;
    line-height: 19px;
    letter-spacing: 0em;
    text-align: left;
}

.experiencia__botao--repo {
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 16px;
    gap: 10px;
    width: 116px;
    height: 51px;
    border: 1px solid #2A7AE4;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 400;
    line-height: 19px;
    color: #2A7AE4;
}

.experience__repo a,
.experience__demo a {
    text-decoration: none;
}

.experience__botao--demo {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 16px;
    gap: 10px;
    width: 105px;
    height: 51px;
    background: #2A7AE4;
}

.experience__description {
    display: flex;
    gap: 15px;
}

.experiencie__box__ahorcado {
    display: flex;
    flex-direction: row-reverse;
    justify-content: flex-start;
    align-items: center;
    gap: 16px;
    margin-right: 100px;
    margin-top: 64px;
}

.experience__box__encriptador {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 16px;
    margin-left: 100px;
    margin-top: 64px;
}

.box-ahorcado {
    display: flex;
    flex-direction: row-reverse;
    justify-content: flex-start;
    align-items: center;
    gap: 16px;
    margin-left: 30px;
    margin-top: 64px;
}

.formcontato {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 14px;
    /* gap: 10px; */
    width: 1317px;
    height: 788px;
    background: #EAF2FD;
}

.formcontato__contacto {
    display: flex;
    /* padding: 70px; */
    background-color: #EAF2FD;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 64px 0px 0px;
    gap: 16px;
    /* width: 1136px; */
    height: 660px;
    width: 1317px;
}


.form__text{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.formcontato__title {
    display: flex;
    width: 141px;
    height: 38px;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 35px;
    line-height: 0px;
    color: #464646;

}

.formcontato__subtext {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    color: #464646;
    margin: 0px;
    line-height: 0px;
}

.formcontato__subsubtext{
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    color: #464646;
    padding: 0;
    margin-bottom: 32px;
}

.formcontato__form {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.formcontato__input {
    width: 656px;
    height: 35px;
    background: #FFFFFF;
    border-radius: 4px;
    flex: none;
    order: 0;
    align-self: stretch;
    flex-grow: 0;
}

.textarea--mensaje {
    width: 656px;
    height: 133px;
    background: #FFFFFF;
    border-radius: 4px;
    flex: none;
}

.formcontato__botao {
    display: flex;

    justify-content: center;
    align-items: center;
    width: 144px;
    height: 51px;
    background: #2A7AE4;

    font-family: 'Raleway';
    font-style: normal;
    font-size: 16px;
    color: #FFFFFF;

}

.footer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 32px;
}

.footer__rodape{
    
width: 229px;
height: 38px;
padding: 32px;
font-family: 'Raleway';
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 19px;
text-align: center;

/* Preto/100% */

color: #464646;
}


/*




.experience__title {
    font-family: Raleway;
    font-size: 22px;
    font-weight: 700;
    line-height: 26px;
    letter-spacing: 0em;
    text-align: left;
}

.experience__text {
    font-family: Raleway;
    font-size: 16px;
    font-weight: 500;
    line-height: 19px;
    letter-spacing: 0em;
    text-align: left;
}



.experience__description{
    display: flex;
    gap: 15px;
}


.experiencie__box__ahorcado {
    flex-direction: row-reverse;
    justify-content: center;
    margin-top: 64px;
}

.experience__box__encriptador{
    display: flex;
    align-items: center;
    gap: 16px;
    margin-top: 64px;
}

.box-ahorcado {
    display: flex;
    align-items: center;
    flex-direction: row-reverse;
    margin-top: 64px;
    gap: 16px;
}

.formcontato {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 1185px;
     height: 581px; 
    padding: 82px;
     gap: 32px; 
    background-color: #EAF2FD;
}
*/



/*




.title__subsection {
    font-family: Raleway;
    line-height: 26px;
    font-weight: 100;

}

.title__container {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.title__container .title__network {
    display: flex;
    justify-content: flex-start;
    width: 75%;
    align-items: center;
}

.about .about__container {
    display: flex;
    align-items: center;
    flex-direction: column;
    align-items: baseline;
    padding: 1%;
}

.skills .skills__line,
.hobbies .hobbies__line {
    display: flex;
    align-items: center;
    justify-content: space-around;
    justify-content: space-between;
}

.skills__title,
.hobbies__title {
    font-family: Raleway;
    font-size: 32px;
    font-weight: 700;
    line-height: 64px;

    text-align: center;
    padding: 2%;
}

.skills__box,
.hobbies__box {
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
    height: 174px;
    width: 176px;
    background-color: white;

}

.academic {
    display: flex;
    flex-direction: column;
    background: aquamarine;
    height: 581px;


}

hoja de estilo del usuario-agente section {
    display: block;
}


:root {
    --cor-de-fundo: #F5F5F5;
    --cor-de-link: #000;
}


.academic__title {

    font-family: Raleway;
    font-size: 32px;
    font-weight: 700;
    line-height: 38px;
    letter-spacing: 0em;
    text-align: center;
}

.academic__courses {
    display: flex;
    justify-content: space-between;

}


.academic__courses__box {
    display: flex;
   
    align-items: center;
    width: 368px;
    border-radius: 0px;  
    background-color:white;
}


.academic__courses__list {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 286px;
    width: 320px;
    padding: 16px;
    background-color: blue;

}

.academic__courses__item__img {
    height: 130px;
width: 192px;
left: 88px;
top: 78px;
border-radius: 0px;

}*/



/* Vamos a desafiarnos trabajando con responsividad?
Utiliza las referencias de los breakpoints @media abajo 


Tablet
@media (min-width: 768px) {

     Menú 

    /*title*/

/*Skills*/

/*Hobbies*/

/*Formación Académica

    /*Experiencia Profesional

}
Mobile
@media (min-width: 425px) {

    /*Menu*/

/*Titulo*/

/*Sección sobre mi*/

/*Skills*/

/*Hobbies*/

/*Formación Académica*/

/*Experiencia Profesional*/

/*Contacto*/

/*Footer*/